.banner {
  background-image: url(../../assets/images/Clothing.png);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 80vh;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(255, 254, 254, 0.869);
  border-radius: 30px;
}
